#post_content
  %h2 Welcome back!

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.input :email,
                required: false,
                autofocus: true,
                input_html: { autocomplete: "email" }
    = f.input :password,
                required: false,
                input_html: { autocomplete: "current-password" }
    %br/
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
    %br/

    = f.submit "Sign In"

  = render "devise/shared/links"
