#post_content
	%h1= @post.title
	%p.text= @post.content

	%p.info
		= @post.user.email
		|
		= time_ago_in_words(@post.updated_at)
		ago

	#comments
		= render @post.comments


		%br/
		
		%h3 Reply to thread 
		= render "comments/form"

	%br/
	%br/
	%br/

	.buttons
		= link_to "Edit Initial Post", edit_post_path(@post)
		= link_to "Delete Thread", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to do that?" } 
 