!!!
%html
  %head
    %title Book Goals
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Lato", type: "text/css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=Pacifico", type: "text/css" }
    %link{ :rel => 'stylesheet', :href => '//netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css', :type => 'text/css' }
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags

  %body
    %header.main_header.clearfix
      #header_div
        #logo
          %p= link_to "Book Goals", root_path
        #buttons
          - if user_signed_in?
            = link_to "Start a New Thread", new_post_path
            &nbsp
            &nbsp
            &nbsp
            = link_to "Vote for Next Month", post_path('1')
          - else
            = link_to "Login", new_user_session_path
            &nbsp
            &nbsp
            = link_to "Sign Up", new_user_registration_path
          
    #body_div 
      #posts
        %p.notice= notice
        %p.alert= alert
        = yield

      #books
        %h2 This Month's Selection 
        %br/

        %img{ :src => image_path('it_cover.jpg') }
        %br/
        %br/
        %h3 "It" by Stephen King

%tail
  %p © Lizzie Turner 10/28/2018.